.nav {
  display: flex;
  align-items: center;
  height: 90px;
  padding: 30px 25px;
  box-shadow: 0 2px 4px 0 rgba(65, 65, 65, 0.2);
  background-color: #21222a;
}

.nav-logo {
  width: 60px;
  margin-right: -10px;
  margin-left: -20px;
}

.nav--logo_text, .nav--title {
  margin: 0;
}

.nav--logo_text {
  margin-right: auto;
  color: #61DAFB;
  font-weight: 700;
  font-size: 22px;
}

.nav--title {
  color: #DEEBF8;
  font-weight: 600;
}


.footer {
  padding: 10px;
  color: white;
  background-color: rgb(54, 68, 68);
}

@media (prefers-reduced-motion: no-preference) {
  .nav-logo {
    animation: nav-logo-spin infinite 20s linear;
  }
}

@keyframes nav-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.main{
  padding-left: 20px;
  color: white;
}