.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px 0 rgba(65, 65, 65, 0.2);
  background-color: #21222a;
  
}

.nav-logo{
  padding-left: 10px;
  width: 80px;
}

.logo-text{
  color: #5cd0ef;
  text-align: left;
}
.nav-items{
  list-style: none;
  display: flex;
  padding-right: 10px;
  color: #c8d4e1;

}

.body-items{
  color: white;
}

.body-items > li{
  color: #acaeb1;
}

.nav-items > li{
  padding:10px;
  font-weight: bold;
  font-size: large;
}

.footer{
  padding:10px;
  color: white;
  background-color: rgb(54, 68, 68);
}

@media (prefers-reduced-motion: no-preference) {
  .nav-logo {
    animation: nav-logo-spin infinite 20s linear;
  }
}

@keyframes nav-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
